@import '../Vars.module.scss';

:root {
  --voting-inner-margins: 12px;
  --card-grid-size: 300px;
  --card-title-font-size: 30px;
  --card-desc-font-size: 15px;
  --card-voting-right-margin: 34px;
  --card-voting-button-height: 38px;
}

.card--grid,
.card--list {
  position: relative;
  color: $color-white;
}

.card--grid {
  width: var(--card-grid-size);
  height: var(--card-grid-size);

  // Body
  .card__body {
    width: 100%;
    height: 72%;
    position: absolute;
    bottom: 0;
  }

  // Title Section

  .card__title {
    @include flexboxCenter;
    justify-content: flex-start;
    padding-top: 9px;
  }

  .card__title h2 {
    color: inherit;
    font-size: var(--card-title-font-size);
    margin: 0;
  }

  // Desc Section

  .card__desc {
    padding-left: 12%;
    padding-right: 12%;
    font-size: var(--card-desc-font-size);
    text-align: justify;
    margin: 0;
    margin-top: 7px;
    max-height: 36px;
  }

  // Category

  .card__category {
    text-align: right;
    margin-right: var(--card-voting-right-margin);
  }

  // Voting Component

  .card__voting {
    // position: relative;
    // position: absolute;
    top: 50%;
    right: 0;

    @include flexboxCenter;
    justify-content: flex-end;
    margin-right: var(--card-voting-right-margin);

    .voting__thumbsUp {
      // position: absolute;
      top: 0;
    }
    .voting__thumbsDown {
      // position: absolute;
      bottom: 0;
      margin-left: var(--voting-inner-margins);
      margin-right: var(--voting-inner-margins);
    }
    .voting__button {
      border: 1px solid $color-white;
      background: $color-darker-background;
      color: $color-white;

      width: 107px;
      height: var(--card-voting-button-height);
    }

    .voting__button span {
      font-size: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  // Gauge Bar Component

  .card__gauge-bar {
    // background: green;
    width: 300px;
    height: 36px;
    position: absolute;
    bottom: 0;
    display: flex;

    .gauge-bar__positive {
      height: 100%;
      background: rgba($color-green-positive, 0.6);
      @include flexboxCenter;
      justify-content: flex-start;
    }

    .gauge-bar__negative {
      height: 100%;
      background: rgba($color-yellow-negative, 0.6);
      @include flexboxCenter;
      justify-content: flex-end;
    }

    .gauge-bar__percentage--positive,
    .gauge-bar__percentage--negative {
      @include flexboxCenter;
      font-size: 18px;
    }
    .gauge-bar__percentage--positive {
      margin-left: 12px;

      img {
        margin-right: 9px;
      }
    }
    .gauge-bar__percentage--negative {
      margin-right: 12px;

      img {
        margin-left: 9px;
      }
    }
  }
}

.card--list {
  background: blue;
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1100px) {
}

@media all and (min-width: 1440px) {
}
