@import '../Vars.module.scss';

:root {
  --card-left-margin: 12px;
  --card-body-height: 81.3%;
  --voting-inner-margins: 12px;
  --card-grid-size: 300px;
  --card-title-font-size: 30px;
  --card-title-line-height: 28px;
  --card-desc-font-size: 15px;
  --card-category-font-size: 12px;
  --card-voting-right-margin: 34px;
  --card-voting-button-height: 38px;
  --card-grid-thumb-title-right-margin: 1px;
  --card-grid-title-desc-separation: 7px;
  --card-list-title-left-padding: 130px;
}

// Shared Styles

.card--grid,
.card--list {
  position: relative;
  color: $color-white;

  // Voting Component

  .card__voting {
    // position: relative;
    // position: absolute;

    @include flexboxCenter;
    justify-content: flex-end;
    margin-right: var(--card-voting-right-margin);

    .voting__thumbsUp {
      // position: absolute;
      top: 0;
    }
    .voting__thumbsDown {
      // position: absolute;
      bottom: 0;
      margin-left: var(--voting-inner-margins);
      margin-right: var(--voting-inner-margins);
    }
    .voting__button {
      border: 1px solid $color-white;
      background: $color-darker-background;
      color: $color-white;

      width: 107px;
      height: var(--card-voting-button-height);
    }

    .voting__button span {
      font-size: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  // Gauge Bar Component

  .card__gauge-bar {
    // background: green;
    width: 100%;
    height: 36px;
    position: absolute;
    bottom: 0;
    display: flex;

    .gauge-bar__positive {
      height: 100%;
      background: rgba($color-green-positive, 0.6);
      @include flexboxCenter;
      justify-content: flex-start;
    }

    .gauge-bar__negative {
      height: 100%;
      background: rgba($color-yellow-negative, 0.6);
      @include flexboxCenter;
      justify-content: flex-end;
    }

    .gauge-bar__percentage--positive,
    .gauge-bar__percentage--negative {
      @include flexboxCenter;
      font-size: 18px;
    }
    .gauge-bar__percentage--positive {
      margin-left: 12px;

      img {
        margin-right: 9px;
      }
    }
    .gauge-bar__percentage--negative {
      margin-right: 12px;

      img {
        margin-left: 9px;
      }
    }
  }
}

.card--grid {
  width: var(--card-grid-size);
  height: var(--card-grid-size);
  flex-shrink: 0;
  // background-size: cover;
  // Body
  .card__body {
    width: 100%;
    height: var(--card-body-height);
    position: absolute;
    bottom: 0;
  }

  // Title Section

  .card__title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 40px;
    height: 74px;
  }

  .card__title .thumbs {
    min-width: $thumbs-size;
    margin-right: var(--card-grid-thumb-title-right-margin);
  }

  .card__title span {
    color: inherit;
    font-size: var(--card-title-font-size);
    margin: 0;
    line-height: var(--card-title-line-height);
  }

  // Desc Section

  .card__desc {
    padding-left: calc(
      #{$thumbs-size} + var(--card-grid-thumb-title-right-margin)
    );
    padding-right: calc(
      #{$thumbs-size} + var(--card-grid-thumb-title-right-margin)
    );
    font-size: var(--card-desc-font-size);
    text-align: justify;
    margin: 0;
    margin-top: var(--card-grid-title-desc-separation);
    max-height: 36px;
  }

  // Category

  .card__category {
    text-align: right;
    margin-right: var(--card-voting-right-margin);
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: var(--card-category-font-size);
  }
}

@media all and (min-width: 768px) {
  :root {
    --card-grid-size: 45.7vw;

    --card-list-margin-bottom: 14px;
    --card-grid-margin-bottom: 21px;
    --card-body-height: 71%;
    --card-grid-thumb-title-right-margin: 5.6px;
    --card-grid-title-desc-separation: 13px;
  }

  // CARD GRID MODE

  .card--grid {
    margin-bottom: var(--card-grid-margin-bottom);

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  // CARD LIST MODE

  .card--list {
    height: 142px;
    margin-bottom: var(--card-list-margin-bottom);

    .card__title {
      display: flex;
    }

    .card__title span {
      color: inherit;
      font-size: 28px;
      padding-left: var(--card-list-title-left-padding);

      span {
        padding-left: 0;
      }
    }

    .card__desc {
      margin: 18px 300px 0 0;
      margin-left: calc(#{$thumbs-size} + var(--card-list-title-left-padding));
    }

    .card__voting {
      position: absolute;
      right: 0;
      bottom: 0;
      margin-bottom: 67px;
      margin-right: 12px;
    }
    .card__category {
      position: absolute;
      right: 0;
      top: 0;
      margin: 8px 14px 12px 0;
      font-size: 12px;
    }
  }
}

@media all and (min-width: 1100px) {
}

@media all and (min-width: 1440px) {
}
