@import '../Vars.module.scss';

:root {
  --card-left-margin: 12px;
}

.card-list--grid {
  //   display: inline-flex;
  display: flex;
  overflow-x: scroll;

  article:not(:first-child) {
    margin-left: var(--card-left-margin);
  }
}

.card-list--list {
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1100px) {
}

@media all and (min-width: 1440px) {
}
